In [182]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import time
import pandas as pd

In [183]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 90.0.4430
Get LATEST driver version for 90.0.4430
Driver [/Users/ryanfearon/.wdm/drivers/chromedriver/mac64/90.0.4430.24/chromedriver] found in cache

In [184]:
mars={}

In [185]:
#URL to be scraped
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [186]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

quotes = soup.find_all('div', class_='content_title')
news_title = quotes[1].a.text

In [187]:
quotes = soup.find_all('div', class_='article_teaser_body')
news_paragraph = quotes[0].text
news_paragraph

'The craft’s April 25 flight was conducted at speeds and distances beyond what had ever been previously demonstrated, even in testing on Earth.'

In [188]:
mars["news_title"]= news_title
mars["news_paragraph"]= news_paragraph

In [189]:
#URL to be scraped
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [194]:
browser.links.find_by_partial_text('Image').click()
# HTML object
html=browser.html
# Parse HTML
soup=BeautifulSoup(html,'html.parser')

In [195]:
# Retrieve image url
featured_image_url =  soup.find('img', class_='BaseImage')['src']
print(f"featured_image_url: {featured_image_url}")

#image_url=soup.find('article')["style"]
#image_url=image_url.split("'")[1]

featured_image_url: https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24606.2e16d0ba.fill-400x400-c50.jpg

In [196]:
#target url
url="https://space-facts.com/mars/"

In [197]:
# pandas read the tables from a website to a list
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [198]:
# use the first table, change column names
df=tables[0]
mars_facts_table_df=df.rename(columns={0: "Characteristic", 1: "Value"})
mars_facts_table_df

         Characteristic                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [199]:
# convert to html
mars_facts_table_df.to_html("mars_facts_table.html",index=False)
html_table=mars_facts_table_df.to_html()
html_table.replace('\n','')
html_table.replace('text-align: right;','text-align: left;')

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: left;">\n      <th></th>\n      <th>Characteristic</th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [200]:
# add table content into a list of dictionaries
mars_facts_table=mars_facts_table_df.to_dict('records')
mars_facts_table

[{'Characteristic': 'Equatorial Diameter:', 'Value': '6,792 km'},
 {'Characteristic': 'Polar Diameter:', 'Value': '6,752 km'},
 {'Characteristic': 'Mass:', 'Value': '6.39 × 10^23 kg (0.11 Earths)'},
 {'Characteristic': 'Moons:', 'Value': '2 (Phobos & Deimos)'},
 {'Characteristic': 'Orbit Distance:', 'Value': '227,943,824 km (1.38 AU)'},
 {'Characteristic': 'Orbit Period:', 'Value': '687 days (1.9 years)'},
 {'Characteristic': 'Surface Temperature:', 'Value': '-87 to -5 °C'},
 {'Characteristic': 'First Record:', 'Value': '2nd millennium BC'},
 {'Characteristic': 'Recorded By:', 'Value': 'Egyptian astronomers'}]

In [201]:
# URL of page to be scraped
url="https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"

# Retrieve the page
browser.visit(url)

In [202]:
#find the titles of the img and stores in a list
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
titles=soup.find_all('h3')
titles[:]=(title.text for title in titles)
titles[:]=(title.split(" Enhanced")[0] for title in titles)
print(titles)

['Cerberus Hemisphere', 'Schiaparelli Hemisphere', 'Syrtis Major Hemisphere', 'Valles Marineris Hemisphere']

In [203]:
hemisphere_image_urls=[]
for title in titles:
    browser.visit(url)
    browser.links.find_by_partial_text(title).click()
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    # find the img_url
    img_url=soup.find('div',class_='downloads').ul.li.a['href']
    hemisphere_image_urls.append({"title": title, "img_url": img_url})

print(f"hemisphere_image_urls= {hemisphere_image_urls}")

hemisphere_image_urls= [{'title': 'Cerberus Hemisphere', 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'title': 'Schiaparelli Hemisphere', 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'}, {'title': 'Syrtis Major Hemisphere', 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'}, {'title': 'Valles Marineris Hemisphere', 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]

In [ ]:
# Quit session
browser.quit()